<div class="container _content">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="content container p-3">
                <h3 class="mb-2" style="color: grey;">{{userId}}</h3>
               <div class="d-flex p-3" >
                   <span style="white-space: nowrap">Web Visualizer</span>
                   <span class="ml-auto"><i class="fa fa-users" aria-hidden="true"></i></span>
               </div>
               <a [routerLink] = "['/map']" class="d-flex p-3 mt-2" >
                   <span style="white-space: nowrap">Poc Visit</span>
                   <span class="ml-auto"><i class="fa fa-download" aria-hidden="true"></i></span>
               </a>
               
               
            </div>
            
        </div>
    </div>
</div>
