.modal-header {
    background-color: #f20707;
}

.content {
    color: white;
    font-size: 18px
}

.d-flex, a {
    background: #FFF;
    color: #f20707;
    border-radius: 5px;
    font-weight: normal
}

.d-flex:hover{
    background: #f20707;
    color: white;
}

html,body{
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 350px;
    background-color: rgba(0,0,0,0.65) !important;
    }

    h3{
    color: white;
    font-size: 17px
    }



    
 
    
 
    