<div id="map" class="_content"></div>

<!-- <a [routerLink]="['/outlets']" class="container text-center">
    <span class="">View Outlets</span>
</a> -->

<table class="table container table-hover">
    <tr>
        <th>BDR Ranking</th>
        <th>% Pocs Audited</th>
        <th>% Task Completed</th>
    </tr>
    <tr (click)="showOutlet(1)">
        <td>Ceser Robles</td>
        <td>90%</td>
        <td>70%</td>
    </tr>
    <tr>
        <td>Aanu A</td>
        <td>75%</td>
        <td>50%</td>
    </tr>
    <tr>
        <td>Stephen O</td>
        <td>70%</td>
        <td>40%</td>
    </tr>
    <tr>
        <td>Mustapha H</td>
        <td>60%</td>
        <td>30%</td>
    </tr>
</table>