
#map {
    width:100%;
    height:90vh
}

.container{
   position: absolute;
   bottom: 10px;
   color: white;
   padding: 5px;
   background-color: #fff;
}


tr:nth-child(even) {
    color: #f20707;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    color: #f20707;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    background-color: rgb(185, 175, 175);
}

tr:first-child {
    background-color: #f20707;
    font-size: 13px;
    font-weight: normal;
    color: white;
}
