#video {
  /* border: 1px solid black;
  box-shadow: 2px 2px 3px black; */
 
  border-width: 2px;
  width:100%;
  height:100vh;
  object-fit: cover;
}

#reSnap, .back {
  display: none;
  background-color: #f20707;
  color: white;
  padding: 5px;
  font-size: 13px;
  width: 40%;
  margin-top: 15px;
}

.back {
  display: block;
  width: 100%;
}

.success {
  color: white;
  letter-spacing: 3px;
  font-size: large;
  margin-top: 20%;
}

#proceed {
  display: none;
  background-color: GREEN;
  color: white;
  padding: 5px;
  font-size: 13px;
  width: 40%;
  margin-top: 15px;
}

.bg {
  position: absolute; top: 0%; width: 100%; height: 100vh;
}

#photo {
  /* border: 1px solid black;
  box-shadow: 2px 2px 3px black; */
  display: none;
  position: relative;
  border-width: 2px;
  width:79%;
  height:84vh;
  object-fit: cover;
}

#canvas {
  display: none;
}

.camera {
  width: 340px;
  height: 200%;
  /* display:inline-block; */
}

.output {
  width: 100%;
  height: 150%;
  display: none;
  margin-top: -30px;
}

#startbutton {
  display:block;
  position: absolute;;
  /* margin-left:auto;
  margin-right:auto; */
  /* top: ; */
  right: 41%;
  bottom: 10%;
  background-color: rgba(78, 74, 74, 0.78);
  border-radius: 20%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: white;
}

#back {
  display:block;
  position: absolute;;
  top: 0%;
  left: 3%;
  bottom: 0;
  font-size: 26px;
}

#content {position:relative;}
#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
    position:absolute; content:' ';
    width:80px; height: 80px;
    border-color:white; /* or whatever colour */
    border-style:solid; /* or whatever style */
}
#content:before {top:5%;left:30px;border-width: 5px 0 0 5px}
#content:after {top:5%;right:30px;border-width: 5px 5px 0 0}
#content>:first-child:before {bottom:6%;right:9%;border-width: 0 5px 5px 0}
#content>:first-child:after {bottom:6%;left:9%;border-width: 0 0 5px 5px}


/* #c:before {bottom:0;left:230px;border-width: 5px 0 0 5px} */
/* #c:after {bottom:0;right:0;border-width: 5px 5px 0 0} */
/* #c>:first-child:before {bottom:0;right:0px;border-width: 0 5px 5px 0}
#c>:first-child:after {bottom:0;left:0;border-width: 0 0 5px 5px} */
