<div class="container _content" id="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header text-center text-justify">
                <h3>Network Status: <span>Offline</span></h3>
                
            </div>
            <div class="card-body text-justify text-center">
                Your Internet Connection is Lost. 
            </div>
            <div class="card-footer animate__animated animate__rotateInDownRight ml-auto text-center mr-4" (click)="okThanks()">
                Ok, Thanks!
            </div>
        </div>
    </div>
</div>