
html,body{
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 350px;
    background-color: rgba(0,0,0,0.65) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #db6548;
    }
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-head h3{
    color: white;
    font-size: 17px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #db6548;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color:#db6548;
    opacity: .8;
    font-weight: bold;
    width: 50%;
    }
    
    .loading{
    color: #db6548;
    background-color: #000;
    opacity: .8;
    font-weight: bold;
    width: 50%;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    