.card {
  position: relative;
  top: 10vh;
  min-width: 350px;
  background-color: rgba(250, 246, 242, 0.63);
  // transform: translateY(-50%); &-head {
  color: #f20707;

  input.btn {
    border: none;
    background-color:#f20707;

    &:hover {
      background-color: lighten($color: #f20707, $amount: 10%);
    }
  }

  .errors {
    color: lighten($color: #f20707, $amount: 10%);
  }
}
