<div class="container _content" *ngIf="!setupPassword && !resetPassword && !admin">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-head text-center mt-2">
        <h4>{{ notice }}</h4>
      </div>
      <div class="card-bod p-2">
        <form (submit)="login()">
          <span style="color: #000;" class="p-1 pb-2" *ngIf="userId"
            >Enter Your Email</span
          >
          <div class="input-group form-group mt-1" *ngIf="userId">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-user-circle"></i
              ></span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              name="email"
              [(ngModel)]="user.email"
            />
          </div>

          <span style="color: black;" class="p-1 pb-2" *ngIf="password"
            >Enter Your Password</span
          >
          <div class="input-group form-group mt-1" *ngIf="password">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              [(ngModel)]="user.password"
            />
          </div>

          <div class="form-group" *ngIf="userId">
            <input
              type="button"
              *ngIf="!loading"
              value="Next"
              class="btn login_btn offset-3 mt-3"
              (click)="next()"
            />
          </div>
          <div class="form-group" *ngIf="loading">
            <input
              type="button"
              value="Please wait..."
              class="btn loading offset-3 mt-3"
              disabled
            />
          </div>

          <div class="form-group" *ngIf="password && !loading">
            <input
              type="submit"
              value="Login"
              class="btn login_btn offset-3 mt-3"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a
            [routerLink]="['/reset-password']"
            routerLinkActive="router-link-active"
            (click)="toggleResetPasswordDisplay()"
            style="color: grey"
            >Forgot your password?</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<app-setup-password *ngIf="setupPassword"></app-setup-password>

<app-reset-password
  *ngIf="resetPassword"
  [toggleResetPassword]="toggleResetPasswordDisplay"
></app-reset-password>