.container{
  background-color: rgba(0,0,0,0.65) !important;
}

.success {
  background-color: #fff;
}

td {
  color: black;
  text-justify: auto;
  font-size: 18px;
  padding: 15px;
  letter-spacing: 1px;
}
tr {
  border-bottom: 1px solid black;
}

  .select {
      font-size: 20px;
      // text-align: center;
      color: white;
      background-color: rgba(167, 167, 167, 0.53); 
      // border: 1px solid wheat;
      // font-weight: bold;
      padding: 15px;
  }

 .hashTag {
   padding: 10px;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: large;
  width: 100%;
 }

 .hashTag:hover {
  color: black;
  background: rgb(179, 179, 179);
 }

 button {
   background-color: rgb(214, 206, 206);
   color: black;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid #f20707;
   margin-top: 15px;
   width: 50%;
 }
 button:hover {
   background-color: black;
   color: white;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid #f20707;
   margin-bottom: 15px;
 }