
html,body{
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 350px;
    background-color: rgba(250, 246, 242, 0.63) !important;
    }
    
    .loading{
        color: #f20707;;
        background-color: #000;
        opacity: .8;
        font-weight: bold;
        width: 50%;
    }

    .social_icon span{
        font-size: 60px;
        margin-left: 10px;
        color: #e64444;;
        }
        .social_icon span:hover{
        color: #f20707;
        cursor: pointer;
        }
    
        .card-head h4{
            color: grey;
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
            }

    .input-group-prepend span{
        width: 50px;
        background-color: #f20707;;
        color: #fff;
        border:0 !important;
        }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
        color: #fff;
        background-color:#f20707;;
        opacity: .8;
        font-weight: bold;
        width: 50%;
        }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
        color: grey;
    }
    